bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.vscode
.ionide
.paket
.env
paket-files
FoamfratStudioApi.sln.DotSettings.user
/lambdas/*/node_modules/*
/lambdas/**/*.zip
.DS_Store
.fake
TestResults/
launchSettings.json
cdk.out